@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary: #E2F0FE;
  --secondary: #FEC430;
  --tertiary: #FFDF8D;
  --text-primary: #616567;
  --text-secondary: #B2B2B2;
  --icon: #64686A;
  --esp32: #2497F0;
  --esp32-light: #D1E8F5;
  --person: #F04B83;
  --person-light: #F5D1DF;
  --device: #FEC430;
  --device-light: #F5EBD1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}